/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { 
    height: 100%;        
 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1{ 
    color: #36363A;
    font-weight: bold;
    text-align: center;
}

h2{ 
    color: #5E6068;  
    font-weight: bold;
}

h3{ 
    color: #5E6068;  
}

section{ margin-top: 20px;}

a{
    text-decoration: none;
}

section{
    margin-bottom: 20px;
}

.align-center{text-align: center;}
.text-bold{        
    font-weight: bold;
}

.mat-typography{
    font-size: 16px;
}

.mat-flat-button.mat-primary{
    background-color: #55544E;
}

.mat-snack-bar-container{
    background-color: #373438;
    color: #FFFFFE;
}

.mat-simple-snackbar-action{
    color: #B4AEB6;
}

