<section class="privacy">
    <h1>
        {{'PRIVACY.OUR_PRIVACY_POLICY' | translate}}
    </h1>
    <p>
        {{'PRIVACY.PRIVACY_1' | translate}}
    </p>
    <h2>
        {{'PRIVACY.PRIVACY_2' | translate}}
    </h2>
    <p>
        {{'PRIVACY.PRIVACY_3' | translate}}
    </p>
        <ul>
            <li>{{'PRIVACY.PRIVACY_YOUR_NICKNAME' | translate}}</li>
            <li>{{'PRIVACY.PRIVACY_YOUR_MAIL' | translate}}</li>
        </ul>
    <p>
        {{'PRIVACY.PRIVACY_29' | translate}} <a [routerLink]="['/train']" routerLinkActive="router-link-active" title="{{'GENERAL.TRAIN' | translate}}">{{'GENERAL.TRAIN' | translate}}</a>.
    </p>
    <h2>
        {{'PRIVACY.PRIVACY_4' | translate}}
    </h2>  
    <p>
        {{'PRIVACY.PRIVACY_5' | translate}}

        {{'PRIVACY.PRIVACY_6' | translate}}
    </p> 
    <h2>
        {{'PRIVACY.PRIVACY_7' | translate}}
    </h2> 
    <p>
        {{'PRIVACY.PRIVACY_8' | translate}}
        <a [routerLink]="['/stats']" routerLinkActive="router-link-active" title="{{'GENERAL.STATS' | translate}}">{{'GENERAL.STATS' | translate}}</a> 
        {{'PRIVACY.PRIVACY_9' | translate}}

        {{'PRIVACY.PRIVACY_30' | translate}}
    </p>
    <h2>
        {{'PRIVACY.PRIVACY_10' | translate}}
    </h2> 
    
        <ul>
            <li>{{'PRIVACY.PRIVACY_RIGHT_1' | translate}}</li>

            <li>{{'PRIVACY.PRIVACY_RIGHT_2' | translate}}</li>

            <li>{{'PRIVACY.PRIVACY_RIGHT_3' | translate}}</li>

            <li>{{'PRIVACY.PRIVACY_RIGHT_4' | translate}}</li>            

            <li>{{'PRIVACY.PRIVACY_RIGHT_5' | translate}}</li>

            <li>{{'PRIVACY.PRIVACY_RIGHT_6' | translate}}</li>
        </ul>
    
    <h2>
        {{'PRIVACY.PRIVACY_COOKIES' | translate}}
    </h2> 
    <p>
        {{'PRIVACY.PRIVACY_17' | translate}}

        {{'PRIVACY.PRIVACY_18' | translate}} <a href="https://www.cookiesandyou.com/" title="cookiesandyou.com">cookiesandyou.com</a>.
    </p>
    <h2>
        {{'PRIVACY.PRIVACY_19' | translate}}
    </h2> 
    <p>
        {{'PRIVACY.PRIVACY_20' | translate}}
    </p>
    <h2>
        {{'PRIVACY.PRIVACY_21' | translate}}
    </h2> 
    <p>
        {{'PRIVACY.PRIVACY_22' | translate}}
    </p>
    <h2>
        {{'PRIVACY.PRIVACY_23' | translate}}
    </h2> 
    <p>
        {{'PRIVACY.PRIVACY_24' | translate}}
    </p>
    <h2>
        {{'PRIVACY.PRIVACY_25' | translate}}
    </h2>
    <p>
        {{'PRIVACY.PRIVACY_26' | translate}}
    </p>
    <h2>
        {{'PRIVACY.PRIVACY_27' | translate}}
    </h2>
    <p>
        {{'PRIVACY.PRIVACY_28' | translate}}
    </p>
</section>

