<section class="privacy">
    <h1>
        {{'PRIVACY.OUR_PRIVACY_POLICY' | translate}}
    </h1>
    <p>
       This website is stored at the University of Granada servers.This privacy policy will explain how our organization uses the personal 
       data we collect from you when you use our website.
    </p>
    <h2>
        What data do we collect?
    </h2>
    <p>
        If you create an account, we'll collect the following personal data:
    </p>
        <ul>
            <li>Your nickname</li>
            <li>Your mail</li>
        </ul>
    <p>
        In addition, we also collect a password to keep secured your account from unwanted access an we store all your responses 
        in the <a [routerLink]="['/train']" routerLinkActive="router-link-active" title="Train section">Train section</a>.
    </p>
    <h2>
        How do we collect your data?
    </h2>  
    <p>
        You directly provide us with most all the data we collect. We collect data and process data when you create an account.
        If you don't register in our site, you will be anonymous for us.

        Except for your nickname, the rest of your data is encrypted in our database.
    </p> 
    <h2>
        How will we use your data?
    </h2> 
    <p>
        We need your personal data to create an account for you and manage your training process. In addition, we will generate 
        <a [routerLink]="['/stats']" routerLinkActive="router-link-active" title="stats">statistics</a> for you, based in the 
        data you provide.

        We don't share your data with third parties.
    </p>
    <h2>
        What are your data protection rights?
    </h2> 
    
        <ul>
            <li>You have the right to request copies of your personal data. But take into consideration that your data is stored encrypted so is not human-readable.</li>

            <li>You have the right to request us to correct any information you believe is inaccurate. You also have the right to request to complete the information you believe is incomplete.</li>

            <li>You have the right to request to erase your personal data.</li>

            <li>You have the right to request us to restrict the processing of your personal data, under certain conditions.</li>

            <li>You have the right to request us to restrict the processing of your personal data, under certain conditions.</li>

            <li>You have the right to object to processing of your personal data, under certain conditions.</li>

            <li>You have the right to request to transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
        </ul>
    
    <h2>
        Cookies
    </h2> 
    <p>
        Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. 
        When you visit our websites, we may collect information from you automatically through cookies or similar technology

        For further information, visit <a href="https://www.cookiesandyou.com/" title="cookiesandyou.com">cookiesandyou.com</a>.
    </p>
    <h2>
        How do we use cookies?
    </h2> 
    <p>
        We use cookies in a range of ways to keeping you signed in.
    </p>
    <h2>
        What types of cookies do we use?
    </h2> 
    <p>
        There are a number of different types of cookies, however, we only use functionality cookies, to keeping you signed in.
    </p>
    <h2>
        How to manage cookies
    </h2> 
    <p>
        Our site contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.
    </p>
    <h2>
        Changes to our privacy policy
    </h2>
    <p>
        Our website its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 1 December 2020.
    </p>
    <h2>
        How to contact us
    </h2>
    <p>
        If you have any questions about our privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.
    </p>
</section>

