<section *ngIf="this.currentArticle !== undefined">
    <h1>Train</h1>

    <h2>
        {{this.currentArticle.title}}
    </h2>
    <h3>Abstract</h3>
        {{this.currentArticle.abstract}}
    <h3>Author's Keywords</h3>
        {{this.currentArticle.authorsKeywords}}
    <h3>KeywordPlus</h3>
        {{this.currentArticle.keywordsPlus}}

    <div>
        <button mat-flat-button>Low impact Journal</button>
        <button mat-flat-button>Medium impact Journal</button>
        <button mat-flat-button>High impact Journal</button>
    </div>
</section>
