.footer{
    height: 100%;
    background-color: #F7F6F7;
    color: #373438;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
}

.footer a{
    text-decoration: none;
    color: inherit;
}

.footer__icon{
    font-size: 12px;
}