.basic-container__content{
    display: block;
    min-height: calc(100vh - 124px);
    padding-left: 25%;
    padding-right: 25%;
}
.mat-app-background{
    background-color: #FFFFFE;
    color: #373438;
}

