<section>
    <p>
        In  this section you can see your stats.
    </p>

    <section>
        You have answered {{this.numberOfAnswers}} times. Down below you can see your confusion matrix:
    </section>

    <section class="stats__confusion-matrix">
        <app-confusion-matrix [confusionMatrixData] = 'this.confusionMatrixDataFull'
                                [highFactor] = '1' [mediumFactor] = '1' [lowFactor] = '1' footer="Absolute answers" [maxLimit]='0'>
        </app-confusion-matrix>    
        
        <app-confusion-matrix [confusionMatrixData] = 'this.confusionMatrixDataFull'
        [highFactor] = 'this.totalHigh' [mediumFactor] = 'this.totalMedium' [lowFactor] = 'this.totalLow' footer="Relative answers" [maxLimit]='0.6'>
        </app-confusion-matrix>   
    </section>

</section>
