<section *ngIf="!this.isLogged">
    <app-signup></app-signup>
</section>
<section *ngIf="this.isLogged">
    <p>
        In  this section you can see your stats.
    </p>

    <section>
        You have answered {{this.numberOfAnswers}} times. Down below you can see your confusion matrix:
    </section>

    <section class="stats__confusion-matrix">
        <app-confusion-matrix [confusionMatrixData] = 'this.confusionMatrixDataFull'
                                [highFactor] = '1' [mediumFactor] = '1' [lowFactor] = '1' footer="Absolute answers" [maxLimit]='0'>
        </app-confusion-matrix>    
        
        <app-confusion-matrix [confusionMatrixData] = 'this.confusionMatrixDataFull'
        [highFactor] = 'this.totalHigh' [mediumFactor] = 'this.totalMedium' [lowFactor] = 'this.totalLow' footer="Relative answers" [maxLimit]='this.limit'>
        </app-confusion-matrix>  
    </section>
    <section class="stats__legend">        
         * Dark cells <span class="stats__legend--square">■</span> contains values equal or greater than {{this.limit}}.
    </section>
    <section class="stats__partitions" *ngIf="this.partition !== undefined">
        At this point, we can infere your partition and your partition.
        
        <p>
            {{this.generatePartitionString()}}
        </p>

    </section>

</section>
