<section *ngIf="this.isLogged">
    <h2>{{'STATS.TITLE' | translate}}</h2>
    <ng-container *ngIf="this.numberOfAnswers >= 15">    
        <section>
            {{'STATS.INTRO_1' | translate}} {{this.numberOfAnswers}} {{'STATS.INTRO_TIMES' | translate}}. {{'STATS.INTRO_2' | translate}}
        </section>

        <section class="stats__confusion-matrix">
            <app-confusion-matrix [confusionMatrixData] = 'this.confusionMatrixDataFull'
                                    [highFactor] = '1' [mediumFactor] = '1' [lowFactor] = '1' footer="Absolute answers" [maxLimit]='0'>
            </app-confusion-matrix>    
            
            <app-confusion-matrix [confusionMatrixData] = 'this.confusionMatrixDataFull'
            [highFactor] = 'this.totalHigh' [mediumFactor] = 'this.totalMedium' [lowFactor] = 'this.totalLow' footer="Relative answers" [maxLimit]='this.limit'>
            </app-confusion-matrix>  
        </section>
        <section class="stats__legend">        
            * {{'STATS.DARK_CELLS' | translate}} <span class="stats__legend--square">■</span> {{'STATS.DARK_CELLS_2' | translate}} {{this.limit}}.
        </section>
        <section>
            <mat-expansion-panel class='stats__mat-expansion'>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{'STATS.HELP_1_TITLE' | translate}}    
                  </mat-panel-title>        
                </mat-expansion-panel-header>
                <section class='stats__mat-expansion__content'> 
                    <p>
                        {{'STATS.HELP_1_1' | translate}} 
                    </p>          
                    <p>
                        {{'STATS.HELP_1_2' | translate}} 
                    </p>          
                </section>
              </mat-expansion-panel>
        </section>
        <h2 *ngIf="this.submissionProfile !== undefined || this.evolutionItems !== undefined">
            {{'STATS.PARTITION_SUBMISSION_PROFILE' | translate}}
        </h2>
        <section class="stats__partitions" *ngIf="this.partition !== undefined">
            <p>
                {{'STATS.PARTITION_1' | translate}}
                {{'STATS.PARTITION_2' | translate}} <span class="text-bold">{{(this.partition.score_partition * 100) | number: '1.2-2'}}%</span> {{'STATS.PARTITION_3' | translate}}:   
            </p>     
            <p class="output_string" *ngIf="this.partition.id_partition == 0"> 
                <!-- (s1,s2)(s3) -->
                <span>K<sub>F<sub>1</sub></sub> = &#123;&#123;S<sub>1</sub>, S<sub>2</sub>&#125;,&#123;S<sub>3</sub>&#125;&#125;</span>
            </p>        
            <p class="output_string" *ngIf="this.partition.id_partition == 1"> 
                <!-- (s1,s3)(s2) -->
                <span>K<sub>F<sub>2</sub></sub> = &#123;&#123;S<sub>1</sub>, S<sub>3</sub>&#125;,&#123;S<sub>2</sub>&#125;&#125;</span>
            </p>   
            <p class="output_string" *ngIf="this.partition.id_partition == 2"> 
                <!-- (s2,s3),(s1) -->
                <span>K<sub>F<sub>3</sub></sub> = &#123;&#123;S<sub>2</sub>, S<sub>3</sub>&#125;,&#123;S<sub>1</sub>&#125;&#125;</span>
            </p>   
            <p class="output_string" *ngIf="this.partition.id_partition == 3"> 
                <!-- (s1,s2)(s3) -->
                <span>K<sub>F<sub>4</sub></sub> = &#123;&#123;S<sub>1</sub>, S<sub>2</sub>, S<sub>3</sub>&#125;&#125;</span>
            </p>   
            <p class="output_string" *ngIf="this.partition.id_partition == 4"> 
                <!-- (s1,s2,s3) -->
                <span>K<sub>C</sub> = &#123;&#123;S<sub>1</sub>, S<sub>2</sub>&#125;,&#123;S<sub>3</sub>&#125;&#125;</span>
            </p>   
            <p class="output_string" *ngIf="this.partition.id_partition == 5"> 
                <!-- (s1),(s2),(s3) -->
                <span>K<sub>F</sub> = &#123;&#123;S<sub>1</sub>&#125;,&#123;S<sub>2</sub>&#125;,&#123;S<sub>3</sub>&#125;&#125;</span>
            </p>   
        </section>

        <section class="stats_submission_profiles" *ngIf="this.submissionProfile !== undefined">
            <p>
                {{'STATS.DETERMINE_PROFILE' | translate}}:
            </p>
            <div class="output_string output_string_table_evolution">(
                <span *ngFor="let submissionProfile of this.submissionProfile.partitions let last = last;">   
                    <ng-container>{{submissionProfile.impact}}-Impact</ng-container>    
                    <ng-container *ngIf="!last">, </ng-container>     
                </span>
                )
            </div>
            <p>
                {{'STATS.PROFILE_1' | translate}}                
                <span>{{(submissionProfileScore * 100) | number: '1.2-2'}}%.</span>            
            </p>
        </section>
        <section>
            <mat-expansion-panel class='stats__mat-expansion'>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{'STATS.HELP_2_TITLE' | translate}}    
                  </mat-panel-title>        
                </mat-expansion-panel-header>
                <section class='stats__mat-expansion__content'> 
                    <p>
                        {{'STATS.HELP_2_1' | translate}}                     
                    </p>          
                    <p>
                        {{'STATS.HELP_2_2' | translate}}        
                        <span>K<sub>C</sub> = &#123;&#123;S<sub>1</sub>, S<sub>2</sub>, S<sub>3</sub>&#125;&#125;</span>
                    </p>       
                    <p>
                        {{'STATS.HELP_2_3' | translate}} 
                        <span>K<sub>F</sub> = &#123;&#123;S<sub>1</sub>&#125;,&#123;S<sub>2</sub>&#125;,&#123;S<sub>3</sub>&#125;&#125;</span>.
                        {{'STATS.HELP_2_4' | translate}} 

                        <span>K<sub>F<sub>2</sub></sub> = &#123;&#123;S<sub>1</sub>, S<sub>3</sub>&#125;,&#123;S<sub>2</sub>&#125;&#125;</span>
                    </p>  
                    <p>
                        {{'STATS.HELP_2_5' | translate}} 
                    </p>    
                    <p>
                        {{'STATS.HELP_2_6' | translate}} 
                        (<span>K<sub>F</sub> = &#123;&#123;S<sub>1</sub>&#125;,&#123;S<sub>2</sub>&#125;,&#123;S<sub>3</sub>&#125;&#125;</span>)
                        {{'STATS.HELP_2_7' | translate}}                         
                    </p>
                    <p>
                        {{'STATS.HELP_2_8' | translate}} <sub>F<sub>2</sub></sub> {{'STATS.HELP_2_9' | translate}} 
                    </p>
                    <p>
                        {{'STATS.HELP_2_10' | translate}} 
                    </p>
                </section>
              </mat-expansion-panel>
        </section>
        <section *ngIf="this.evolutionItems !== undefined">
            <h2>
                {{'STATS.EVOLUTION' | translate}}
            </h2>
            <table mat-table [dataSource]="this.evolutionItems" class="evolution_table">
                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef> {{'STATS.STEP' | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.index}} </td>
                </ng-container>            
                
                <ng-container matColumnDef="id_partition">
                    <th mat-header-cell *matHeaderCellDef> {{'STATS.ID_PARTITION' | translate}}  </th>
                    <td mat-cell class="partition_cell" *matCellDef="let element"> 
                        <ng-container *ngIf="element.id_partition == 0">
                            <!-- (s1,s2)(s3) -->
                            <span>K<sub>F<sub>1</sub></sub> = &#123;&#123;S<sub>1</sub>, S<sub>2</sub>&#125;,&#123;S<sub>3</sub>&#125;&#125;</span>
                        </ng-container>
                        <ng-container *ngIf="element.id_partition == 1">
                            <!-- (s1,s3)(s2) -->
                            <span>K<sub>F<sub>2</sub></sub> = &#123;&#123;S<sub>1</sub>, S<sub>3</sub>&#125;,&#123;S<sub>2</sub>&#125;&#125;</span>
                        </ng-container>     
                        <ng-container *ngIf="element.id_partition == 2">
                            <!-- (s2,s3)(s1) -->
                            <span>K<sub>F<sub>3</sub></sub> = &#123;&#123;S<sub>2</sub>, S<sub>3</sub>&#125;,&#123;S<sub>1</sub>&#125;&#125;</span>
                        </ng-container>     
                        <ng-container *ngIf="element.id_partition == 3">
                            <!-- (s1,s2,s3) -->
                            <span>K<sub>C</sub> = &#123;&#123;S<sub>1</sub>, S<sub>2</sub>, S<sub>3</sub>&#125;&#125;</span>
                        </ng-container>     
                        <ng-container *ngIf="element.id_partition == 4">
                            <!-- (s1,s2),(s3) -->
                            <span>K<sub>F<sub>4</sub></sub> = &#123;&#123;S<sub>1</sub>, S<sub>2</sub>&#125;,&#123;S<sub>3</sub>&#125;&#125;</span>
                        </ng-container> 
                        <ng-container *ngIf="element.id_partition == 5">
                            <!-- (s1),(s2),(s3) -->
                            <span>K<sub>F</sub> = &#123;&#123;S<sub>1</sub>&#125;,&#123;S<sub>2</sub>&#125;,&#123;S<sub>3</sub>&#125;&#125;</span>
                        </ng-container>                            
                    </td>
                </ng-container>            
        
                <ng-container matColumnDef="id_submission_profile">
                    <th mat-header-cell *matHeaderCellDef> {{'STATS.SUBMISSION_PROFILE' | translate}} </th>
                    <td mat-cell class="submission_profile_cell" *matCellDef="let element"> {{element.id_submission_profile}} </td>
                </ng-container>         
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
            </table>
        </section>
        <section>
            <mat-expansion-panel class='stats__mat-expansion'>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{'STATS.HELP_3_TITLE' | translate}}                     
                  </mat-panel-title>        
                </mat-expansion-panel-header>
                <section class='stats__mat-expansion__content'> 
                    <p>
                        {{'STATS.HELP_3_1' | translate}}                         
                    </p>                    
                </section>
              </mat-expansion-panel>
        </section>
    </ng-container>
    <ng-container *ngIf="this.numberOfAnswers < 15">
        <section>
            {{'STATS.NOT_ENOUGH_DATA_1' | translate}} <a [routerLink]="[ '/train']" title="{{'GENERAL.TRAIN' | translate}}">{{'GENERAL.TRAIN' | translate}}</a> 
            {{'STATS.NOT_ENOUGH_DATA_2' | translate}}
        </section>
    </ng-container>
    
</section>