<ng-container *ngIf="this.isAcceptedCookies">
    <form>
        <recaptcha 
            [size]="'normal'"
            [hide]="false" 
            (captchaResponse)="onCaptchaResponse($event)">
        </recaptcha>
    </form>

    <ng-container *ngIf="!this.isRecoveringPassword">  
        <section>
            <h2>{{'SIGNUP.ALREADY_HAVE_ACCONUT' | translate}}</h2>

            <p class="recovery_link">
                <a (click)="this.isRecoveringPassword = true">🔗  {{'SIGNUP.NOT_REMEMBER_ACCOUNT' | translate}}</a>
            </p>
            <form #loginForm [formGroup]="loginFormGroup" (ngSubmit)="loginSubmit()" (keyup.enter)="enterEvent('login')">
                <mat-form-field class="register-field" appearance="legacy" >
                    <mat-label>{{'SIGNUP.NICK' | translate}}</mat-label>
                    <input matInput placeholder="Placeholder" id="login_nick" formControlName="login_nick" autofocus>
                    <mat-icon matSuffix *ngIf="!login_form.login_nick.errors">done</mat-icon>
                    <mat-icon matSuffix *ngIf="login_form.login_nick.errors">close</mat-icon>
                    <mat-hint>{{'SIGNUP.HINT_NICKNAME' | translate}}</mat-hint>
                </mat-form-field>
                <mat-form-field class="register-field" appearance="legacy">
                    <mat-label>{{'SIGNUP.PASSWORD' | translate}}</mat-label>
                    <input matInput [type]="hideLogin ? 'password' : 'text'" formControlName="login_password">
                    <button mat-icon-button matSuffix type="button"
                        (click)="hideLogin = !hideLogin" 
                        [attr.aria-label]="'Hide password'" 
                        [attr.aria-pressed]="hideLogin"
                        tabindex="-1">
                            <mat-icon>{{hideLogin ? 'visibility_off' : 'visibility'}}</mat-icon>    
                    </button>
                    <mat-icon matSuffix *ngIf="!login_form.login_password.errors">done</mat-icon>
                    <mat-icon matSuffix *ngIf="login_form.login_password.errors">close</mat-icon>
                    <mat-hint>{{'SIGNUP.PASSWORD' | translate}}</mat-hint>
                </mat-form-field>
                <section>
                    <button [disabled]="!loginFormGroup.valid || !isCaptchaValid" 
                            type="submit" 
                            mat-flat-button color="primary">{{'SIGNUP.LOG_IN' | translate}}</button>
                </section>
            </form>
        </section>



        <section *ngIf="!this.isRegisterHidden">    
            <h2>{{'SIGNUP.CREATE_NEW_ACCOUNT' | translate}}</h2>
            <form #signupForm [formGroup]="registerFormGroup" (ngSubmit)="registerSubmit()" (keyup.enter)="enterEvent('signup')">
                <mat-form-field class="register-field" appearance="legacy">
                    <mat-label>{{'SIGNUP.NICK' | translate}}</mat-label>
                    <input matInput placeholder="Placeholder" id="signup_nick" formControlName="signup_nick">
                    <mat-icon matSuffix *ngIf="!signup_form.signup_nick.errors">done</mat-icon>
                    <mat-icon matSuffix *ngIf="signup_form.signup_nick.errors">close</mat-icon>
                    <mat-hint>{{'SIGNUP.HINT_NICKNAME' | translate}}</mat-hint>
                </mat-form-field>

                <mat-form-field class="register-field" appearance="legacy">
                    <mat-label>{{'SIGNUP.MAIL' | translate}}</mat-label>
                    <input matInput placeholder="Placeholder" id="signup_mail" formControlName="signup_mail">
                    <mat-icon matSuffix *ngIf="!signup_form.signup_mail.errors">done</mat-icon>
                    <mat-icon matSuffix *ngIf="signup_form.signup_mail.errors">close</mat-icon>
                    <mat-hint>{{'SIGNUP.HINT_MAIL' | translate}}</mat-hint>
                </mat-form-field>
                
                <ng-container formGroupName="passwords">
                    <mat-form-field class="register-field" appearance="legacy">
                        <mat-label>{{'SIGNUP.PASSWORD' | translate}}</mat-label>
                        <input matInput [type]="hideSignUp ? 'password' : 'text'" id="password1" minlength="5" formControlName="password1">
                        <button mat-icon-button matSuffix type="button" 
                            (click)="hideSignUp = !hideSignUp" 
                            [attr.aria-label]="'Hide password'" 
                            [attr.aria-pressed]="hideSignUp"
                            tabindex="-1">
                                <mat-icon>{{hideSignUp ? 'visibility_off' : 'visibility'}}</mat-icon>    
                        </button>
                        <mat-icon matSuffix *ngIf="!password_form.hasError('notSame') && password_form.controls.password1.valid">done</mat-icon>
                        <mat-icon matSuffix *ngIf="password_form.hasError('notSame') || !password_form.controls.password1.valid">close</mat-icon>
                        <mat-hint>{{'SIGNUP.HINT_PASSWORD' | translate}}</mat-hint>
                    </mat-form-field>

                    <mat-form-field class="register-field" appearance="legacy">
                        <mat-label>Retype your password</mat-label>
                        <input matInput [type]="hideSignUp ? 'password' : 'text'" id="password2" minlength="5"  formControlName="password2">
                        <button mat-icon-button matSuffix type="button" 
                            (click)="hideSignUp = !hideSignUp" 
                            [attr.aria-label]="'Hide password'" 
                            [attr.aria-pressed]="hideSignUp"
                            tabindex="-1">
                                <mat-icon>{{hideSignUp ? 'visibility_off' : 'visibility'}}</mat-icon>    
                        </button>
                        <mat-icon matSuffix *ngIf="!password_form.hasError('notSame') && password_form.controls.password2.valid">done</mat-icon>
                        <mat-icon matSuffix *ngIf="password_form.hasError('notSame') || !password_form.controls.password2.valid">close</mat-icon>
                        <mat-hint>{{'SIGNUP.HINT_PASSWORD_AGAIN' | translate}}</mat-hint>
                    </mat-form-field>    
                </ng-container>  
                <p class="register-field__user-role">
                    <mat-checkbox formControlName="im_reviewer"></mat-checkbox>
                    <span> {{'SIGNUP.IM_REVIEWER' | translate}}</span>               
                    <mat-checkbox formControlName="im_editor"></mat-checkbox>
                    <span> {{'SIGNUP.IM_EDITOR' | translate}}</span>
                </p>     
                
                <section>                    
                    <mat-checkbox formControlName="conditionsAgree"></mat-checkbox>                  
                    <span>
                        {{'SIGNUP.AGREE_1' | translate}} <a [routerLink]="['/privacy']" 
                                                            routerLinkActive="router-link-active" 
                                                            title="{{'GENERAL.PRIVACY' | translate}}">{{'GENERAL.PRIVACY' | translate}}</a>
                        {{'SIGNUP.AGREE_2' | translate}}
                    </span>
                </section>
                <section>
                    <button [disabled]="!registerFormGroup.valid || !isCaptchaValid" 
                            type="submit" 
                            mat-flat-button color="primary">{{'SIGNUP.REGISTER' | translate}}</button>
                </section>
            </form>
        </section>

        <section class="privacy">
            <h3>{{'SIGNUP.PRIVACY_SECURITY' | translate}}</h3>
            {{'SIGNUP.PRIVACY_TEXT_1' | translate}}
            <a [routerLink]="['/privacy']" routerLinkActive="router-link-active" title="{{'GENERAL.PRIVACY' | translate}}">{{'GENERAL.PRIVACY' | translate}}</a>.
        </section>
</ng-container>
<ng-container *ngIf="this.isRecoveringPassword">
    <h2>Recovery password</h2>
    <p class="recovery_link">
        <a (click)="this.isRecoveringPassword = false">🔗  {{'SIGNUP.CLICK_TO_LOGIN' | translate}}</a>
    </p>
    <form #recoveryForm [formGroup]="recoveryFormGroup" (ngSubmit)="recoverySubmit()" 
            (keyup.enter)="enterEvent('recovery')" *ngIf="this.isRecoveringPasswordFirstStep">
        <mat-form-field class="register-field" appearance="legacy" >
            <mat-label>{{'SIGNUP.NICK' | translate}}</mat-label>
            <input matInput placeholder="Placeholder" id="recovery_nick" formControlName="recovery_nick" autofocus>
            <mat-icon matSuffix *ngIf="!recovery_form.recovery_nick.errors">done</mat-icon>
            <mat-icon matSuffix *ngIf="recovery_form.recovery_nick.errors">close</mat-icon>
            <mat-hint>{{'SIGNUP.HINT_NICKNAME' | translate}}</mat-hint>
        </mat-form-field>
        <mat-form-field class="register-field" appearance="legacy">
            <mat-label>{{'SIGNUP.MAIL' | translate}}</mat-label>
            <input matInput placeholder="Placeholder" id="recovery_mail" formControlName="recovery_mail">
            <mat-icon matSuffix *ngIf="!recovery_form.recovery_mail.errors">done</mat-icon>
            <mat-icon matSuffix *ngIf="recovery_form.recovery_mail.errors">close</mat-icon>
            <mat-hint>{{'SIGNUP.HINT_MAIL' | translate}}</mat-hint>
        </mat-form-field>
        <button [disabled]="!recoveryFormGroup.valid" type="submit" mat-flat-button color="primary">{{'SIGNUP.SEND_ME_MAIL' | translate}}</button>
    </form>


    <form #recoveryForm2 [formGroup]="recoveryFormSecondStageGroup" (ngSubmit)="recoverySecondStageSubmit()" 
            (keyup.enter)="enterEvent('recovery')" *ngIf="!this.isRecoveringPasswordFirstStep">
        <mat-form-field class="register-field" appearance="legacy" >
            <mat-label>{{'SIGNUP.TOKEN' | translate}}</mat-label>
            <input matInput placeholder="Placeholder" id="recovery_token" formControlName="recovery_token" autofocus>
            <mat-icon matSuffix *ngIf="!recovery_second_stage_form.recovery_token.errors">done</mat-icon>
            <mat-icon matSuffix *ngIf="recovery_second_stage_form.recovery_token.errors">close</mat-icon>
            <mat-hint>{{'SIGNUP.HINT_TOKEN' | translate}}</mat-hint>
        </mat-form-field>
        <ng-container formGroupName="passwords">
            <mat-form-field class="register-field" appearance="legacy">
                <mat-label>{{'SIGNUP.PASSWORD' | translate}}</mat-label>
                <input matInput [type]="hideSignUp ? 'password' : 'text'" id="password1" minlength="5" formControlName="password1">
                <button mat-icon-button matSuffix type="button" 
                    (click)="hideSignUp = !hideSignUp" 
                    [attr.aria-label]="'Hide password'" 
                    [attr.aria-pressed]="hideSignUp"
                    tabindex="-1">
                        <mat-icon>{{hideSignUp ? 'visibility_off' : 'visibility'}}</mat-icon>    
                </button>
                <mat-icon matSuffix *ngIf="!password_form.hasError('notSame') && password_form.controls.password1.valid">done</mat-icon>
                <mat-icon matSuffix *ngIf="password_form.hasError('notSame') || !password_form.controls.password1.valid">close</mat-icon>
                <mat-hint>{{'SIGNUP.HINT_PASSWORD' | translate}}</mat-hint>
            </mat-form-field>

            <mat-form-field class="register-field" appearance="legacy">
                <mat-label>{{'SIGNUP.PASSWORD_2' | translate}}</mat-label>
                <input matInput [type]="hideSignUp ? 'password' : 'text'" id="password2" minlength="5"  formControlName="password2">
                <button mat-icon-button matSuffix type="button" 
                    (click)="hideSignUp = !hideSignUp" 
                    [attr.aria-label]="'Hide password'" 
                    [attr.aria-pressed]="hideSignUp"
                    tabindex="-1">
                        <mat-icon>{{hideSignUp ? 'visibility_off' : 'visibility'}}</mat-icon>    
                </button>
                <mat-icon matSuffix *ngIf="!password_form.hasError('notSame') && password_form.controls.password2.valid">done</mat-icon>
                <mat-icon matSuffix *ngIf="password_form.hasError('notSame') || !password_form.controls.password2.valid">close</mat-icon>
                <mat-hint>{{'SIGNUP.HINT_PASSWORD_AGAIN' | translate}}</mat-hint>
            </mat-form-field>  
        </ng-container>     
        <button [disabled]="!recoveryFormSecondStageGroup.valid || !isCaptchaValid" type="submit" mat-flat-button color="primary">{{'SIGNUP.CHANGE_PASSWORD' | translate}}</button>
        </form>
    </ng-container>
</ng-container>
<ng-container *ngIf="!this.isAcceptedCookies">
    <section>
        <h2>{{'SIGNUP.COOKIES_REJECTED_HEADER' | translate}}</h2>
        <section>
            <p>
                {{'SIGNUP.COOKIES_REJECTED_1' | translate}}
                <a [routerLink]="[ '/privacy']" title="{{'GENERAL.PRIVACY' | translate}}">{{'GENERAL.PRIVACY' | translate}}</a>. {{'SIGNUP.COOKIES_REJECTED_2' | translate}}
            <p>
            <p>
                {{'SIGNUP.COOKIES_REJECTED_3' | translate}}
            </p>
            <p>
                {{'GENERAL.COOKIES_THANKS' | translate}}
            </p>
        </section>
    </section>
</ng-container>