    <section>
        <h2>Already have an account? then log in ...</h2>
        <form #loginForm [formGroup]="loginFormGroup" (ngSubmit)="loginSubmit()" (keyup.enter)="enterEvent('login')">
            <mat-form-field class="register-field" appearance="legacy" >
                <mat-label>Nick</mat-label>
                <input matInput placeholder="Placeholder" id="login_nick" formControlName="login_nick" autofocus>
                <mat-icon matSuffix *ngIf="!login_form.login_nick.errors">done</mat-icon>
                <mat-icon matSuffix *ngIf="login_form.login_nick.errors">close</mat-icon>
                <mat-hint>Insert your nickname here</mat-hint>
            </mat-form-field>
            <mat-form-field class="register-field" appearance="legacy">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hideLogin ? 'password' : 'text'" formControlName="login_password">
                <button mat-icon-button matSuffix 
                    (click)="hideLogin = !hideLogin" 
                    [attr.aria-label]="'Hide password'" 
                    [attr.aria-pressed]="hideLogin"
                    tabindex="-1">
                        <mat-icon>{{hideLogin ? 'visibility_off' : 'visibility'}}</mat-icon>    
                </button>
                <mat-icon matSuffix *ngIf="!login_form.login_password.errors">done</mat-icon>
                <mat-icon matSuffix *ngIf="login_form.login_password.errors">close</mat-icon>
                <mat-hint>Insert your password</mat-hint>
            </mat-form-field>

            <button [disabled]="!loginFormGroup.valid" type="submit" mat-flat-button color="primary">Log in</button>
        </form>
    </section>



    <section>    
        <h2>... or create a new account</h2>
        <form #signupForm [formGroup]="registerFormGroup" (ngSubmit)="registerSubmit()" (keyup.enter)="enterEvent('signup')">
            <mat-form-field class="register-field" appearance="legacy">
                <mat-label>Nick</mat-label>
                <input matInput placeholder="Placeholder" id="signup_nick" formControlName="signup_nick">
                <mat-icon matSuffix *ngIf="!signup_form.signup_nick.errors">done</mat-icon>
                <mat-icon matSuffix *ngIf="signup_form.signup_nick.errors">close</mat-icon>
                <mat-hint>Insert your nickname here</mat-hint>
            </mat-form-field>

            <mat-form-field class="register-field" appearance="legacy">
                <mat-label>Mail</mat-label>
                <input matInput placeholder="Placeholder" id="signup_mail" formControlName="signup_mail">
                <mat-icon matSuffix *ngIf="!signup_form.signup_mail.errors">done</mat-icon>
                <mat-icon matSuffix *ngIf="signup_form.signup_mail.errors">close</mat-icon>
                <mat-hint>Insert your mail here</mat-hint>
            </mat-form-field>
            
            <ng-container formGroupName="passwords">
                <mat-form-field class="register-field" appearance="legacy">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hideSignUp ? 'password' : 'text'" id="password1" minlength="5" formControlName="password1">
                    <button mat-icon-button matSuffix type="button" 
                        (click)="hideSignUp = !hideSignUp" 
                        [attr.aria-label]="'Hide password'" 
                        [attr.aria-pressed]="hideSignUp"
                        tabindex="-1">
                            <mat-icon>{{hideSignUp ? 'visibility_off' : 'visibility'}}</mat-icon>    
                    </button>
                    <mat-icon matSuffix *ngIf="!password_form.hasError('notSame') && password_form.controls.password1.valid">done</mat-icon>
                    <mat-icon matSuffix *ngIf="password_form.hasError('notSame') || !password_form.controls.password1.valid">close</mat-icon>
                    <mat-hint>Insert a really strong password here</mat-hint>
                </mat-form-field>

                <mat-form-field class="register-field" appearance="legacy">
                    <mat-label>Retype your password</mat-label>
                    <input matInput [type]="hideSignUp ? 'password' : 'text'" id="password2" minlength="5"  formControlName="password2">
                    <button mat-icon-button matSuffix type="button" 
                        (click)="hideSignUp = !hideSignUp" 
                        [attr.aria-label]="'Hide password'" 
                        [attr.aria-pressed]="hideSignUp"
                        tabindex="-1">
                            <mat-icon>{{hideSignUp ? 'visibility_off' : 'visibility'}}</mat-icon>    
                    </button>
                    <mat-icon matSuffix *ngIf="!password_form.hasError('notSame') && password_form.controls.password2.valid">done</mat-icon>
                    <mat-icon matSuffix *ngIf="password_form.hasError('notSame') || !password_form.controls.password2.valid">close</mat-icon>
                    <mat-hint>Insert your password again.</mat-hint>
                </mat-form-field>  
            </ng-container>       
            
            <button [disabled]="!registerFormGroup.valid" type="submit" mat-flat-button color="primary">Register</button>
        </form>
    </section>

    <section class="privacy">
        <h3>Privacy and security</h3>
        Your password and your mail are encrypted before being stored in our database.
    </section>