<mat-toolbar>
  <mat-toolbar-row>
    <div class="flex-content">
      <div class="flex-content__center-links"> 
        <div class="icon-with-text">
          <mat-icon>psychology</mat-icon> 
          <span>Train</span>
        </div>     
        <div class="icon-with-text">
          <mat-icon>show_chart</mat-icon> 
          <span>Stats</span>
        </div>   
      </div>   
      <div class="flex-content__right-links"> 
        <mat-icon>language</mat-icon>   
        <mat-icon>help_outline</mat-icon>    
        <mat-icon>exit_to_app</mat-icon>  
      </div> 
    </div>
  </mat-toolbar-row>
</mat-toolbar>