<mat-toolbar class='app-header'>
  <mat-toolbar-row>
    <div class="flex-content">
      <div class="flex-content__center-links"> 
        <div class="icon-with-text">
          <a class="flex-content--link flex-content-link--welcome" [routerLink]="['']" routerLinkActive="flex-content__right-link--active" aria-label="Welcome page">
            <mat-icon class="mat-icon">home</mat-icon>    </a>   

          <a *ngIf="this.isAcceptedCookies" class="flex-content--link" [routerLink]="['/train']" routerLinkActive="flex-content__right-link--active" >
            <mat-icon class="mat-icon">psychology</mat-icon>        
            <span>Train </span>
          </a>   
        </div>     
        <div class="icon-with-text">
          <a *ngIf="this.isAcceptedCookies" class="flex-content--link" [routerLink]="['/stats']" routerLinkActive="flex-content__right-link--active" >
            <mat-icon class="mat-icon">show_chart</mat-icon>       
            <span>Stats</span>
          </a>
        </div>   
      </div>   
      <div class="flex-content__right-links"> 
        <a class="flex-content--link" [routerLink]="['/language']" routerLinkActive="flex-content__right-link--active" aria-label="Language"><mat-icon>language</mat-icon>  </a>    
        <a class="flex-content--link" [routerLink]="['/help']" routerLinkActive="flex-content__right-link--active" aria-label="Help"><mat-icon>help_outline</mat-icon>    </a>   
        <button class="mat-icon-button" mat-icon-button 
            *ngIf="this.isLogged == true;"
            aria-label="Logout" 
            (click)="this.doLogout()" ><mat-icon class="mat-icon--logout">exit_to_app</mat-icon>  </button>   
      </div> 
    </div>
  </mat-toolbar-row>
</mat-toolbar>